@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    color: theme('colors.primary');
    @apply bg-gradient-background;
  }

  .secondary-color {
    color: theme('colors.secondary');
  }

  a:hover {
    color: theme('colors.secondary');
  }

  .description {
    white-space: break-spaces;
  }

  @keyframes fade-in-up-bounce {
    from {
      opacity: 0;
      transform: translateY(100px);
    }

    40% {
      transform: translateY(-6px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-up-bounce {
    animation: fade-in-up-bounce 0.8s forwards;
  }

  @keyframes soft-bounce {
    from {
      transform: translateY(0);
    } 
    40% {
      transform: translateY(-1px);
    }
    to {
      transform: translateY(0px);
    }
  }

  .animate-bounce {
    animation: soft-bounce 0.7s forwards;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  .alias-typing {
    overflow: hidden;
    border-right: .2em solid;
    white-space: nowrap;
    animation: typing 2s steps(30, end), blink 1s step-end infinite;
  }
}
